---
import Layout from "../layouts/Layout.astro";
import Iframe from "../components/Iframe.astro";
import Button from "../components/Button.astro";
// import Header from "../components/Header.astro";
---

<Layout className="overflow-hidden" title="Quest Hackathon">
	<code id="background-code" class="overlay truncate -z-20"></code>
	<!-- <div class="overlay dotted-grid w-full h-full"></div> -->
	<main class="h-full overflow-y-auto overflow-x-hidden">
		<!-- Intro page -->
		<div class="flex h-screen">
			<!-- Intro text -->
			<div
				class="m-auto rotate-90 -translate-x-1/4 -translate-y-10 sm:transform-none"
			>
				<h1 class="text-8xl text-bg bg-primary w-fit">Quest</h1>
				<h1 class="text-8xl m-auto">Hackathon</h1>
			</div>
		</div>
		<!-- What -->
		<div class="page-content backdrop-invert">
			<h2 class="text-bg mb-8">What?</h2>
			<p class="text-bg text-2xl">
				<span class="bg-bg text-primary">Quest</span> Hackathon is a day long innovative
				experience.
			</p>
		</div>
		<!-- Where & When -->
		<div
			class="page-content backdrop-sepia flex flex-col sm:flex-row gap-8 justify-between"
		>
			<div class="flex flex-col gap-8">
				<h2 class="text-primary">Where?</h2>
				<p>
					<u>Valley Christian Schools</u><br />
					100 Skyway Dr #130, San Jose, CA 95111
				</p>
				<Iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.7953807465615!2d-121.826706!3d37.276279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e32115bc6dca5%3A0xcb42dd40acc4e1db!2sValley%20Christian%20Schools!5e0!3m2!1sen!2sus!4v1678422508028!5m2!1sen!2sus"
				/>
			</div>
			<div class="flex flex-col gap-8 items-end">
				<h2>When?</h2>
				<p>9am - 9pm on April ___</p>
				<a
					class="ml-auto inline-block"
					href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=Mmd2Y2MxZnZsMGYxdjY3ZnFrYTNhZTRiYzUgY181MGFlNGY4OTk1N2Y3OTY2OWZjMDdkNzUyMDAyNDQ0OWZjOWVmNDgwODI1NDkwNDdkZDBhZTdmMGZiYTNlMDlhQGc&tmsrc=c_50ae4f89957f79669fc07d7520024449fc9ef48082549047dd0ae7f0fba3e09a%40group.calendar.google.com"
				>
					<Button text="Add to Google Calendar" />
				</a>
				<full-calendar
					class="w-20 h-20"
					shadow
					options={JSON.stringify({
						headerToolbar: {
							left: "prev,next today",
							center: "title",
							right: "dayGridMonth,dayGridWeek,dayGridDay",
						},
					})}></full-calendar>
				<!-- <Iframe
					className="place-content-end"
					src="https://calendar.google.com/calendar/embed?src=c_50ae4f89957f79669fc07d7520024449fc9ef48082549047dd0ae7f0fba3e09a%40group.calendar.google.com&ctz=America%2FLos_Angeles"
				/> -->
			</div>
		</div>
		<!-- Prizes -->
		<div class="page-content backdrop-invert backdrop-contrast-50">
			<h2 class="text-bg mb-8">Prizes</h2>
		</div>
		<!-- Sponsors -->
		<div class="page-content">
			<h2 class="text-primary mb-8">Sponsors</h2>
		</div>
	</main>
</Layout>

<script>
	import "@fullcalendar/web-component/global";

	const backgroundCode = document.querySelector("#background-code");
	if (backgroundCode && "innerText" in backgroundCode) {
		backgroundCode.innerText = `\n\n\n`.repeat(10) + document.documentElement.innerHTML;
	}
</script>

<style>
	@keyframes scrolldown {
		from {
			transform: translateY(0%);
		}
		to {
			transform: translateY(-100%);
		}
	}

	#background-code {
		animation-name: scrolldown;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-duration: 120s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}
</style>
